
div {

  body {
    background-color: #cccccc;
  }

  html {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: Vivaldi;
    font-weight: bold;
  }

  p, h2, h3, h4, li {
    padding: 10px;
    font-family: Helvetica;
  }
}