@import "./config.less";

body {
  background-color: @playing-table-green;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: @heading-font;
  font-weight: bold;
  font-size: 75px;
}

p, h2, h3, h4, li {
  font-family: @text-font;
}

.menu-buttons {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-family: @text-font;
  cursor: pointer;
}

.card {
  width: 2em;
  object-fit: contain;
}

.playing-table {
  width: 100vw;
  height: 100vh;
  background-color: @playing-table-green;

  .card {
    width: 8em;
  }

  .control-bar {
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: #51290f;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    .menu {
      margin: auto 0;
    }

    .actions {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      height: 100%;
      a {
        cursor: pointer;
        margin: auto 2em;
        padding: 2em;
        border: 2px solid white;
        border-radius: 25px;
        color: white;
        text-decoration: none;
        text-align: center;
        display: block;
      }
    }

    .stats {
      text-align: center;
      color: white;
      margin: auto 0;
    }
  }

  section.dealer {
    width: 30vw;
    padding: 2em 35vw 0 35vw;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-evenly;

    .hand-dealer {

    }
  }

  section.players {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-evenly;
    bottom: 0;

    .player-stack {
      width: 8em;
      margin-top: 45vh;
    }
  }
}