@(response: String)

@main("Playing Field") {
    <div class="playing-table">
        <section class="dealer">
            <div class="hand-dealer">
                <img class="card" src="/assets/images/cards/5D.png" alt="Card">
                <img class="card" src="/assets/images/cards/AD.png" alt="Card">
                <img class="card" src="/assets/images/cards/7H.png" alt="Card">
            </div>
            <div class="stack">
                <img class="card" src="/assets/images/cards/blue_back.png" alt="Card">
            </div>
        </section>

        <section class="players">
            <div class="player-stack player-1">
                <img class="card" src="/assets/images/cards/5D.png" alt="Card">
            </div>
            <div class="player-stack player-2">
                <img class="card" src="/assets/images/cards/5D.png" alt="Card">
            </div>
            <div class="player-stack player-3">
                <img class="card" src="/assets/images/cards/5D.png" alt="Card">
            </div>
            <div class="player-stack player-4">
                <img class="card" src="/assets/images/cards/5D.png" alt="Card">
            </div>
            <div class="player-stack player-5">
                <img class="card" src="/assets/images/cards/5D.png" alt="Card">
            </div>
        </section>

        <div class="control-bar">
            <div class="menu">
                <a class="menu-buttons">Back</a>
            </div>
            <div class="actions">
                <a>HIT</a>
                <a>STAND</a>
            </div>
            <div class="stats">
                <span>Balance: 1000$</span>
            </div>
        </div>
    </div>
}
