@(response: String)

@main("Playing Field") {
    <div class="playing-table">
        <section class="dealer">
            <div class="col"></div>
            <div class="col hand-dealer">
                <img class="playing-card" src="/assets/images/cards/5D.png" alt="Card">
                <img class="playing-card" src="/assets/images/cards/AD.png" alt="Card">
                <img class="playing-card" src="/assets/images/cards/7H.png" alt="Card">
            </div>
            <div class="col stack">
                <img class="playing-card" src="/assets/images/cards/blue_back.png" alt="Card">
            </div>

        </section>

        <section class="players">
            <div class="player-stack player-1">
                <ul class="cards">
                    <li>
                        <img class="playing-card" src="/assets/images/cards/5D.png" alt="Card">
                    </li>
                </ul>
                <div class="info">
                    <span>Cards Value: 5</span>
                    <span>Player 1</span>
                </div>
            </div>
            <div class="player-stack player-2">
                <ul class="cards">
                    <li>
                        <img class="playing-card" src="/assets/images/cards/5D.png" alt="Card">
                    </li>
                </ul>
                <div class="info">
                    <span>Cards Value: 5</span>
                    <span>Player 2</span>
                </div>
            </div>
            <div class="player-stack player-3">
                <ul class="cards">
                    <li>
                        <img class="playing-card" src="/assets/images/cards/5D.png" alt="Card">
                    </li>
                </ul>
                <div class="info">
                    <span>Cards Value: 5</span>
                    <span>Player 3</span>
                </div>
            </div>
        </section>
    </div>

    <div class="container-fluid control-bar">
        <div class="row">
            <div class="col-md-3 menu control-child">
                <div class="row h-100">
                    <a class="btn btn-secondary btn-lg m-auto" href="@controllers.routes.HomeController.menu()">Back</a>
                </div>
            </div>
            <div class="col-md-6 actions control-child">
                <div class="row h-100">
                    <div class="m-auto">
                        <a class="btn btn-light btn-lg">HIT</a>
                        <a class="btn btn-light btn-lg">STAND</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 stats control-child">
                <span>Balance: 1000$</span>
            </div>
        </div>

    </div>
}
